# WIndows
Thumbs.db
# Mac
.DS_Store
# VSCode
.vscode/
# JB
.idea/

# Node.js
node_modules/
npm-debug.log*

# App
dist/
lib/
.env
test.env
!env.example
!test.env.example

## Test
coverage/
test-report.junit.xml

## Temporary Files
*.log
*.tgz
